<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Destination</title>
  </head>
  <body>
    <h1>Destination List</h1>

    <form action="/places" method="post">
      <label for="cityName">City Name:</label>
      <input id="cityName" name="cityName" type="text"> <br>

      <label for="journal">Journal Entry:</label>
      <input id="journal" name="journal" type="text"> <br>

      <label for="dateTraveled">Dates traveled:</label>
      <input id="dateTraveled" name="dateTraveled" type="text"> <br>

      <label for="traveledWith">Who you traveled with:</label>
      <input id="traveledWith" name="traveledWith" type="text"> <br>

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
